body {
    background-color: #6699ff;
    color: #D5E3FF;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    width: 80%;
    min-width: 700px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

img {
    border-style: none;
}

/* Header */
header {
    background-color: #6699ff;
    color: #003366;
    font-family: serif;
}

h1 {
    text-align: center;
}

/* Navigation */
nav {
    font-weight: bold;
}

.category {
    font-weight: bold;
    background-color: #6699ff;
    color: #003366;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #667;
}


 /* Footer */
footer {
    font-size: .70em;
    font-style: italic;
}

footer nav {
    text-align: left;
}